<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Hootsuite Demo App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
        <script src="https://d2l6uygi1pgnys.cloudfront.net/jsapi/2-0/hsp.js"></script>         
    </head>

    <body>
    <script>
hsp.init({
apiKey :'20vmkz9yps2swg48ggs0wkgg43icnbp3op7'
});
</script>
<h2>My First App</h2>

    </body>
</html>